- if params[:controller] == "items"
  %h1= item.title
- else
  %h1= link_to item.title, item

%p
  %strong tags:
  - item.tags.each do |tag|
    = link_to tag do
      %span.badge
        %i.icon-tag
        = tag.name

.well
  :markdown
    #{item.source}
