%h1= item.title

%p
  %strong author:
  = link_to item.user do
    %span= item.user.email
  %strong tags:
  - item.tags.each do |tag|
    = link_to tag do
      %span.badge
        %i.icon-tag
        = tag.name
%p
  %strong created at:
  %span= item.created_at
  %strong update at:
  %span= item.updated_at

.wrap
  .content~ markdown item.source

%hr
.comments
  %h3 Comments
  =render partial: "share/comment", collection: item.comments

- if login?
  %hr
  = simple_form_for Comment.new, url: :comment_post, remote: true, "data-type" => :html do |f|
    = f.input :content, as: :text, label: "Comment", input_html: {class: 'input-block-level', rows: 3}
    = f.button :submit, class: "btn btn-success"
