- if params[:action] == "show" && params[:controller] == "items"
  %h1= item.title
- else
  %h1= link_to item.title, item

%p
  %strong tags:
  - item.tags.each do |tag|
    = link_to tag do
      %span.badge
        %i.icon-tag
        = tag.name

%p
  %strong author:
  = link_to item.user do
    %span= item.user.name
  %strong created at:
  %span= item.created_at
  %strong update at:
  %span= item.updated_at

.wrap
  .content~ markdown item.source

%hr
.comments
  =render partial: "share/comment", collection: item.comments

  %hr
  = simple_form_for Comment.new, url: {action: :comment} do |f|
    = f.input :content, as: :text, label: "Comment", input_html: {class: 'input-block-level', rows: 3}
    = f.button :submit, class: "btn btn-success"
%hr
