.span3
  .well.sidebar-nav
    %ul.nav.nav-list
      - if login?
        = link_to new_item_path, class: "btn" do
          %li
            %i.icon-edit
            %span Post new one
        %li.divider

      %li.nav-header= user.name
      %li= link_to user.email, user
      %li= link_to "#{user.items.count} items", user

      %li.nav-header Relations
      %li= link_to "#{user.followings.count} followings", :user_followings
      %li= link_to "#{user.followers.count} followers", :user_followers
      %li.divider

      %li.nav-header Stocks
      %li= link_to "#{user.stocks.count} items stocked", :user_stocks
      %li.divider

      - if login? && current_user != user && !current_user.following?(user)
        %li= link_to "Follow", :user_follow, remote: true, class: "btn", id: "action-btn"
