.span3
  .well.sidebar-nav
    %ul.nav.nav-list
      - if login?
        = link_to new_item_path, class: "btn btn-success btn-block" do
          %li
            %i.icon-edit
            %span New item
        %li.divider

      %li.nav-header= user.name
      %li= link_to user.email, user
      %li= link_to "#{user.items.count} items", user

      %li.nav-header Relations
      %li= link_to "#{user.followings.count} followings", :followings_user
      %li= link_to "#{user.followers.count} followers", :followers_user
      %li.divider

      %li.nav-header Stocks
      %li= link_to "#{user.stocks.count} items stocked", :stocks_user
      %li.divider

      %li.nav-header Following tags
      - user.tags.each do |tag|
        %li= link_to tag.name, tag

      - if login? && current_user != user
        %li.divider

        - if current_user.following? user
          .btn-group.full-width
            = link_to "#", class: "btn dropdown-toggle btn-info btn-block", "data-toggle" => "dropdown" do
              %i.icon-heart
              %span Following &raquo;

            %ul.dropdown-menu
              %li
                =link_to "Unfollow",
                  :follow_user,
                  method: :delete,
                  disable_with: "Wait..",
                  remote: true,
                  id: "action-btn"

        - else
          =link_to :follow_user,
            method: :post,
            disable_with: "Wait..",
            remote: true,
            class: "btn btn-block",
            id: "action-btn" do
            %li
              %i.icon-plus
              %span Follow
