- content_for :sidebar do
  .span3
    .well.sidebar-nav
      %ul.nav.nav-list
        %li.nav-header User Info
        %li.divider
        %li= @user.email
        %li= @user.name
        %li= "#{@user.items.count} items"
        %li= "#{@user.followings.count} followings"
        %li= "#{@user.followers.count} followers"

        - if current_user != @user && !(current_user.followings.include?(@user))
          %li.divider
          %li= link_to "Follow", :user_follow, remote: true, class: "btn", id: "follow-btn"

.alert.fade.in#notice-area{style: "display: none"}
  %button.close{data: {dismiss: "alert"}} x

%h1= @user.email
%hr

= render partial: "share/item", collection: @user.items, spacer_template: "share/item_spacer"
