.span3
  .well.sidebar-nav
    %ul.nav.nav-list
      - if login?
        = link_to new_item_path, class: "btn btn-block" do
          %li
            %i.icon-edit
            %span New item
        %li.divider

      %li.nav-header= @tag.name
      %li= link_to "#{@tag.items.count} items", @tag
      %li= link_to "#{@tag.users.count} followers", :tag_followers
      %li.divider
      - if login? && !current_user.following?(@tag)
        = link_to :tag_follow, remote: true, class: "btn btn-block", id: "action-btn" do
          %li
            %i.icon-plus
            %span Follow
