= simple_form_for(@item) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, input_html: {class: 'input-block-level'}
    = f.input :source, as: :text, input_html: {class: 'input-block-level'}
    = f.input :tag_names, input_html:  {class: 'input-block-level'}

  .form-actions
    = f.button :submit, class: "btn btn-primary"
    = link_to 'Cancel', :back, class: "btn"
