= simple_form_for(@item) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, input_html: {class: 'input-block-level'}
    = f.input :source, as: :text, input_html: {class: 'input-block-level', rows: 5}
    = f.input :tag_names, hint: "Split each tag name by single space", input_html:  {class: 'input-block-level'}

  .form-actions
    = f.button :submit, disable_with: "Sending..", class: "btn btn-success btn-separate"
    = link_to 'Cancel', :back, class: "btn btn-separate"
