= simple_form_for @item do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, input_html: {class: 'input-block-level'}
    = f.input :source, as: :text, input_html: {class: 'input-block-level', rows: 5}
    = f.input :tag_names, as: :check_boxes, collection: @item.tag_names

  .input-append
    %input#tag-comp-val(type="text" data-provide="typeahead" autocomplete="off"
      data-source="#{Tag.all.map(&:name)}" placeholder="Ruby"
    )
    %button#tag-comp-btn.btn{type: "button"} Add tag

  .form-actions
    = f.button :submit, disable_with: "Sending..", class: "btn btn-success btn-separate"
    = link_to 'Cancel', :back, class: "btn btn-separate"
