%h1 Listing items

%table
  %tr
    %th Source
    %th Title
    %th Tags
    %th
    %th
    %th

  - @items.each do |item|
    %tr
      %td= item.source
      %td= item.title
      %td= item.tags
      %td= link_to 'Show', item
      %td= link_to 'Edit', edit_item_path(item)
      %td= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Item', new_item_path
