- content_for :sidebar do
  .span3
    .well.sidebar-nav
      %ul.nav.nav-list
        - if login?
          = link_to new_item_path, class: "btn btn-success btn-block" do
            %li
              %i.icon-edit
              %span New item
          %li.divider

        %li.nav-header Info
        %li #{@item.stocked_users.count} users stocked
        %li.nav-header Stocked users
        - @item.stocked_users.each do |user|
          %li= link_to user.email, user

        - if login?
          %li.divider

          - if current_user.stocks.include? @item
            .btn-group.full-width
              = link_to "#",
                class: "btn dropdown-toggle btn-info btn-block",
                "data-toggle" => "dropdown" do
                %i.icon-heart
                %span Stocked &raquo;

              %ul.dropdown-menu
                %li
                  =link_to "Unstock",
                    :item_stock,
                    method: :delete,
                    disable_with: "Wait..",
                    remote: true,
                    id: "action-btn"

          - else
            =link_to :item_stock,
              method: :post,
              disable_with: "Wait..",
              remote: true,
              class: "btn btn-block",
              id: "action-btn" do
              %li
                %i.icon-bookmark
                %span Stock


.alert.fade.in#notice-area{style: "display: none"}
  %button.close{data: {dismiss: "alert"}} &times;

- if @item.user == current_user
  = link_to edit_item_path(@item), class: "btn btn-info btn-separate" do
    %i.icon-edit
    %span Edit
  = link_to item_path(@item),
    method: :delete,
    class: "btn btn-danger btn-separate",
    confirm: "Delete item?" do
    %i.icon-trash
    %span Delete
  %hr

= render partial: "share/item", object: @item
