%p#notice= notice

%h1= @item.title

.well
  :markdown
    #{@item.source}

%p
  %strong Tags:
  - @item.tags.each do |tag|
    - #TODO Add link to the tag
    %span.badge
      %i.icon-tag
        = tag

= link_to 'Edit', edit_item_path(@item)
\|
= link_to 'Back', items_path
