- content_for :sidebar do
  .span3
    .well.sidebar-nav
      %ul.nav.nav-list
        - if login?
          %li= link_to "Post new item", new_item_path, class: "btn"
          %li.divider

          %li #{@item.stocked_users.count} users stocked
          %li.nav-header Stocked users
          - @item.stocked_users.each do |user|
            %li= link_to user.email, user
          %li.divider

          - unless current_user.stocks.include? @item
            %li= link_to "Stock", :item_stock, remote: true, class: "btn", id: "action-btn"


.alert.fade.in#notice-area{style: "display: none"}
  %button.close{data: {dismiss: "alert"}} &times;

- if @item.user == current_user
  = link_to "Edit", edit_item_path(@item), class: "btn btn-success"
  = link_to "Delete", item_path(@item), method: :delete, class: "btn btn-danger", confirm: "Delete item?"
  %hr

= render partial: "share/item", object: @item
