- content_for :sidebar do
  .span3
    .well.sidebar-nav
      %ul.nav.nav-list
        - if login?
          = link_to new_item_path, class: "btn btn-block" do
            %li
              %i.icon-edit
              %span New item
          %li.divider

        %li #{@item.stocked_users.count} users stocked
        %li.nav-header Stocked users
        - @item.stocked_users.each do |user|
          %li= link_to user.email, user
        %li.divider

        - if login? && !current_user.stocks.include?(@item)
          = link_to :item_stock, remote: true, class: "btn btn-block", id: "action-btn" do
            %li
              %i.icon-bookmark
              %span Stock


.alert.fade.in#notice-area{style: "display: none"}
  %button.close{data: {dismiss: "alert"}} &times;

- if @item.user == current_user
  = link_to edit_item_path(@item), class: "btn btn-success btn-separate" do
    %i.icon-edit
    %span Edit
  = link_to item_path(@item), method: :delete, class: "btn btn-danger btn-separate", confirm: "Delete item?" do
    %i.icon-trash
    %span Delete
  %hr

= render partial: "share/item", object: @item
