.span3
  .well.sidebar-nav
    %ul.nav.nav-list
      - if login?
        = link_to new_item_path, class: "btn btn-success btn-block" do
          %li
            %i.icon-edit
            %span New item
        %li.divider

        %li.nav-header Following tags
        - current_user.tags.each do |tag|
          %li= link_to tag.name, tag
        %li.divider

        %li.nav-header Following users
        - current_user.followings.each do |user|
          %li= link_to user.email, user
        %li.divider

        %li.nav-header Followers
        - current_user.followers.each do |user|
          %li= link_to user.email, user
        %li.divider

        %li.nav-header Global info
        %li= link_to "#{User.count} users in total", users_path
        %li= link_to "#{Tag.count} tags in total", tags_path

      - else
        %li.nav-header User counts
        %li= link_to "#{User.count} users", users_path
        %li.divider
        %li.nav-header Item counts
        %li= link_to " #{Item.count} items", items_path
        %li.divider
        %li.nav-header Tags
        - Tag.all.each do |tag|
          %li= link_to tag.name, tag
        %li.divider
