!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Shiita"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag "/assets/favicon.ico"


  %body
    .navbar.navbar-fluid-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Shiita", root_path, class: "brand"
          .container.nav-collapse
            %ul.nav.pull-left
              %li
                = form_tag "/search", method: :get, class: "navbar-form", id: "top-search" do
                  = text_field_tag :query, nil, {class: "search-query", placeholder: "Ruby Rails nginx"}
            %ul.nav.pull-right
              = render 'layouts/top_status'



    .container-fluid

      .row-fluid

        - unless @no_sidebar
          .span9
            = bootstrap_flash
            .content-wrapper
              = yield
        - else
          = bootstrap_flash
          .index-wrapper
            = yield

        = content_for?(:sidebar) ? yield(:sidebar) : render("layouts/sidebar")

    %footer
      %p
        %span powered by
        %span= link_to "Shiita", "https://github.com/taiki45/shiita", target: "_blank"

    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
    = javascript_include_tag "https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
